body {
  font-family: Tahoma, Helvetica, Arial, Sans-Serif;
  background: #fafafa;
  color: #777;
}

a {
  text-decoration: none;
  color: #3b8bba;
}

footer {
  background-color: #191818;
  width: 100%;
  position: absolute;
  bottom: 0;
}

footer p {
  color: #ffffff;
  margin-left: 5px;
  font-size: 80%;
}

#body, #side_body {
  float: left;
  width: 45%;
  background: #ffffff;
  color: #333;
  padding: 20px;
}

#menu ul {
  list-style: none;
  padding: 0px;
  li {
    float: left;
    margin-right: 10px;
    a {
      display: block;
      padding: 5px 10px;
      text-decoration: none;
      color: white;
    }
    &.selected a, a:hover {
      background: #3b8bba;
    }
  }
}

#header {
  background-color: #191818;
}

#logo {
  display: inline-block;
  margin-left: 5px;
}

#menu {
  display: inline-block;
  float: right;
  padding-top: 8px;
}