$primary-bg-color: #3b8bba;

body {
  font-family: Tahoma, Helvetica, Arial, Sans-Serif;  
  color: #777;
}

a {
  text-decoration: none;
  color: $primary-bg-color;
  background: #cccccc;
}

footer {
  background-color: #191818;
  width: 100%;
  position: absolute;
  bottom: 0;
}

footer p {
  color: #ffffff;
  margin-left: 5px;
  font-size: 80%;
}

#menu ul {
  list-style: none;
  padding: 0px;
  li {
    float: left;
    margin-right: 10px;
    border: 1px solid #9c9c9c;
    border-radius: 3px;
    a {
      display: block;
      padding: 5px 10px;
      text-decoration: none;
      color: white;
    }
    &.selected a, a:hover {
      background: $primary-bg-color;
    }
  }
}

#header {
  /*background-color: #191818;*/
}

#logo {
  display: inline-block;  
}

#menu {
  display: inline-block;
  float: right;
  padding-top: 8px;
}

#page {
  width: 960px;
  margin: 0 auto;
}

#body_content_title {
  border-bottom: 1px solid #cccccc;
  text-align: center;
  font-size: 170%;
}

.search-box {
  width: 350px;
  height: 35px;
}

.button-secondary {
  background: $primary-bg-color;
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.search {
  text-align: center;
  padding-top: 20px;
}

// begin reference item

.reference {
  border: 1px solid #c2c2c2;
  box-shadow: 0 0px 3px 0 #c2c2c2;
  color: #777777;
  margin-top: 10px;
  padding: 5px 5px;
  border-radius: 4px;
}

.ref-title {
  background: $primary-bg-color;
  color: whitesmoke;
  font-weight: bold;
  border-radius: 2px;
  padding: 3px;
}

.tel {
  float: right;
}

.ref-title, .tel {
  font-size: 90%;
}

.ref-id {
  border-right: 1px solid #c2c2c2;
  padding-right: 5px;
}

.top-header {
  margin: 0 auto;
  width: 960px;  
}