body {
  font-family: Tahoma, Helvetica, Arial, Sans-Serif;
  background: none repeat scroll 0 0 #F5F5F5;
  line-height: 18px;
}

a {
  text-decoration: none;
  color: #a73838;
}

#body, #side_body {
  float: left;
  width: 45%;
  background: white;
  color: #333;
  padding: 20px;
}

#menu ul {
  list-style: none;
  padding: 0px;
  li {
    float: left;
    margin-right: 10px;
    a {
      display: block;
      padding: 5px 10px;
      text-decoration: none;
    }
    &.selected a, a:hover {
      background: #CCC;
    }
  }
}